.converted-city {
	font-weight: bold;
}

.current-weather {
	background-color: #ffffee;
	border: 1px solid #eeeeee;
	border-radius: 6px;
	display: inline-block;
	padding: 6px;

	[class*="col-"] {
		padding: 0;
	}

	.current-weather-icon {
		display: inline-block;
		vertical-align: middle;
		width: 48px;
	}

	.temperature {
		display: inline-block;
		font-size: 2em;
		height: 48px;
	}

	.temperature-units {
		sup {
			font-size: 2em;
			top: 0;
		}
	}

	.weather-description {
		padding-left: 6px;
		text-align: center;
	}
}

.no-data {
	font-weight: bold;
}

.map-box {
	border: 2px solid rgba(128, 128, 128, 0.5);
	margin: 20px 0;
}